

body {
  background: gainsboro;
}

.App {
  background-color: black;
  margin-top: 1px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  color: aliceblue;
  height: 70px;
}
img {
  border: 1px solid red transparent;
  height: 50px;;
  width: 130px;
  cursor: pointer;
}

.link {
  border: 1px solid green transparent;
  display: flex;
  justify-content: space-around;
  width: 30%;
  cursor: pointer;
}

.button {
  border: 1px solid red transparent;
  width: 10%;
  height: 30px;
}

button {
  min-height: 25px;
  width: 80px;
  background-color: teal;
  font-size: 17px;
  border-color: transparent;
  border: none;
  outline: none;
  color: white;
  border-radius: 20px;
}
 
button:hover {
  background-color: green;
  cursor: pointer;
}






